// Paleta de colores

// Overrides de bootstrap
$primary: #5ab332;   // verde principal SmartBudget
$secondary: #FFC107; // amarillo para acentos
$success: #f0923a;
$danger: #ec1a4ff8; 


// Variables propias
$color-background: #ffffffe5;
$color-text: #333333;

// Tipografía de google fonts
$font-family-base: 'Saira', sans-serif;

// Breakpoints extendido de bootstrap
$grid-breakpoints: (
  xxs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
