@use '../abstracts/variables' as variables;

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 600;

  &--primary {
    background-color: variables.$primary;
    color: #fff;
    border: 1px solid variables.$primary;

    &:hover {
      background-color: color.scale(variables.$primary, $lightness: -22.27%);
      border-color: color.scale(variables.$primary, $lightness: 10%);
    }
  }

  &--large {
    font-size: 1.25rem;
  }
}