@use "sass:color";
@use '../abstracts/variables' as variables;

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;

  &--primary {
    background-color: variables.$primary;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: color.scale(variables.$primary, $lightness: -10%);
      color: black;
      text-decoration: none;
    }
  }

  &--large {
    font-size: 1.25rem;
  }
}