@use '../abstracts/variables' as variables;
@use "sass:color";

.navbar {
  background-color: variables.$success;

  .navbar-collapse {
    background-color: inherit;
  }
  .container {
    background-color: inherit;
  } 

  .navbar-nav {
    background-color: variables.$success;
  }

  .nav-item {
    background-color: variables.$success;
  }

    .nav-link {
    color: #fff !important;

      &:hover {
        color: color.scale(#fff, $lightness: -20%) !important; 
        text-decoration: none;
      }
    }
}