@use '../abstracts/variables' as variables;

.navbar {
  &__logo img {
    height: 40px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  &__item a {
    text-decoration: none;
    font-weight: 600;
    color: variables.$primary;

    &:hover {
      color: darken(variables.$primary, 10%);
    }
  }
}