* {
  font-family: "Saira", sans-serif;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.8980392157);
}

.navbar__logo img {
  height: 40px;
}
.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.navbar__item a {
  text-decoration: none;
  font-weight: 600;
  color: #5ab332;
}
.navbar__item a:hover {
  color: rgb(69.9563318777, 139.135371179, 38.864628821);
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 600;
}
.button--primary {
  background-color: #5ab332;
  color: #fff;
  border: 1px solid #5ab332;
}
.button--primary:hover {
  background-color: rgb(69.9563318777, 139.135371179, 38.864628821);
  border-color: rgb(69.9563318777, 139.135371179, 38.864628821);
}
.button--large {
  font-size: 1.25rem;
}

.carousel__item {
  text-align: center;
  padding: 2rem;
}
.carousel__item h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}
.carousel__item img {
  max-height: 200px;
  margin: 0 auto 1rem;
}
.carousel__item p {
  font-size: 1rem;
  color: #555;
}
.carousel__controls {
  filter: invert(100%);
}