@use "../abstracts/variables" as variables;
@use "sass:color";

.hero {
  padding: 4rem 2rem;

    
  &__title {
    color: variables.$primary;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 1rem;
    text-shadow: 1 2px 6px rgba(73, 71, 71, 0.644);
    max-width: 100%;
    
    @media (max-width: 768px) {
    font-size: 3rem;
    }

    @media (max-width: 480px) {
    font-size:2rem;
    }
  }
  

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    max-width: 100%;
    color: variables.$success;

    @media (max-width: 768px) {
    font-size: 1.2rem;
    }

    @media (max-width: 480px) {
    font-size:1rem;
    }
  }

  &__lead {
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 100%;
    color: color.scale(variables.$success, $lightness: -10%);

    @media (max-width: 768px) {
    font-size: 1rem;
    }

    @media (max-width: 480px) {
    font-size:0.8rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 2rem;
    text-align: center;

    @media (max-width: 768px) {
    font-size: 1rem;
    }

    @media (max-width: 480px) {
    font-size:0.8rem;
    }
  }

  &__description {
    color: variables.$primary;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 2rem;
    text-align: center;

    @media (max-width: 768px) {
    font-size: 1.2rem;
    }

    @media (max-width: 480px) {
    font-size:1rem;
    }
  }


}

